.App {
  text-align: center;
}

.App-sideBar {
  height: 100vh;
  width: 30%;
  font-size: 35px;
  float: left;
  text-align: center;
  color: white;
  border-right: 3px solid;
  border-right-color: rgba(255, 255, 255, .7);
  background-color: #00a0b0;
}

.App-title {
  border: 2px solid white;
  width: 70%;
  margin: 0 auto;
  margin-top: 110px;
  color: #00a0b0;
  background-color: white;
}

.App-intro {
  font-size: large;
}

.Player-Turn {
  color: #bd1550;
  width: 70%;
  word-wrap: break-word;
  margin: 0 auto;
  background-color: white;
}

.Player2-Turn {
  color: #f39c12;
  width: 70%;
  word-wrap: break-word;
  margin: 0 auto;
  background-color: white;
}

#cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00a0b0;
  height: 100px;
  width: 100px;
  float: left;
  text-align: center;
}

.boardContainer {
  width: 69.76%;
  height: 100vh;
  background-color: #333333;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board {
  margin: 0 auto;
  width: 700px;
}

#circle {
  background-color: #333333;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px white;
}

#chipRed {
  background-color: #bd1550;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px black;

}

#chipYellow {
  background-color: #f39c12;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px black;
}

.slideInDown5 {
  animation-name: slideInDown5;
  animation-duration: 1s;
}

@keyframes slideInDown5 {
  from {
    transform: translate3d(0, -600px, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown4 {
  animation-name: slideInDown4;
  animation-duration: .85s;
}

@keyframes slideInDown4 {
  from {
    transform: translate3d(0, -500px, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown3 {
  animation-name: slideInDown3;
  animation-duration: .7s;
}

@keyframes slideInDown3 {
  from {
    transform: translate3d(0, -400px, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown2 {
  animation-name: slideInDown2;
  animation-duration: .55s;
}

@keyframes slideInDown2 {
  from {
    transform: translate3d(0, -300px, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown1 {
  animation-name: slideInDown1;
  animation-duration: .40s;
}

@keyframes slideInDown1 {
  from {
    transform: translate3d(0, -200px, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown0 {
  animation-name: slideInDown0;
  animation-duration: .25s;
}

@keyframes slideInDown0 {
  from {
    transform: translate3d(0, -100px, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
