.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  text-align: center;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: grey;
  height: 100px;
  width: 100px;
  float: left;
  text-align: center;
}

.board {
  margin: 0 auto;
  width: 700px;
}

#circle {
  background-color: white;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  border-radius: 50%;
}

#chip {
  background-color: red;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  border-radius: 50%;
}
